.title{
     background-image:url(http://i.imgur.com/xLqIYMR.jpg);
     background-repeat:no-repeat;
     font-family:helvetica;
     margin-left:40%;
	 height:521px;
	 width:926px;
	padding-right:100px;
}


#titletext{
     display:inline;
     color:white;
     background-color:green;
     font-size:3em;
}

.mam{
    display:inline;
    font-family:helvetica;
 font-size:1.75em;
	padding-right:100px;

}
#mampic{
    height:60%;
    width:30%;     
    float:left;
    margin-right:9px;
}


.eup{
    display:inline;
    font-family:helvetica;
 font-size:1.75em;
	float:left;
	padding-right:100px;
}
#euppic{
    height:60%;
    width:30%;     
    float:left;
margin-right:8px;
}

.ech{
    display:inline;
    font-family:helvetica;
 font-size:1.75em;
	float:left;
	padding-right:100px;
}
#echpic{
    height:60%;
    width:30%;     
    float:left;
margin-bottom:10px;
margin-right:8px;
}

.cep{
    display:inline;
    font-family:helvetica;
 font-size:1.75em;
	float:left;
padding-right:100px;
}
#ceppic{
    height:60%;
    width:30%;     
    float:left;
margin-bottom:10px;
margin-right:8px;
}

.aus{
    display:inline;
    font-family:helvetica;
 font-size:1.75em;
	float:left;
	padding-right:100px;
}
#auspic{
    height:60%;
    width:30%;     
    float:left;
margin-bottom:10px;
margin-right:8px;
}

.opu{
    display:inline;
    font-family:helvetica;
    font-size:1.75em;
	float:left;
	padding-right:100px;
}
#opupic{
    height:60%;
    width:30%;     
    float:left;
margin-bottom:10px;
margin-right:8px;
}
