.title{
     background-image:url(http://i.imgur.com/xLqIYMR.jpg);
     background-repeat:no-repeat;
     max-height:100%;
     max-width:100%;
     width:100%;
     height:60%;
     font-family:helvetica;
     margin-left:20%;
}


#titletext{
     display:inline;
     color:white;
     background-color:green;
     font-size:3em;
}

.mam{
    display:inline;
    font-family:helvetica;
    font-size:1.2em;
}
#mampic{
    height:667px;
    width:375px;     
    float:left;
    margin-right:8px;
}


.eup{
    display:inline;
    font-family:helvetica;
    font-size:1.2em;
}
#euppic{
   height:667px;
    width:375px;      
    float:left;
    margin-right:8px;
}

.ech{
    display:inline;
    font-family:helvetica;
    font-size:1.2em;
}
#echpic{
    height:667px;
    width:375px;       
    float:left;
    margin-right:8px;
}

.cep{
    display:inline;
    font-family:helvetica;
    font-size:1.2em;
}
#ceppic{
    height:667px;
    width:375px;       
    float:left;
    margin-right:8px;
}

.aus{
    display:inline;
    font-family:helvetica;
    font-size:1.2em;
}
#auspic{
    height:667px;
    width:375px;     
    float:left;
    margin-right:8px;
}

.opu{
    display:inline;
    font-family:helvetica;
    font-size:1.2em;
}
#opupic{
    height:667px;
    width:375px;      
    float:left;
    margin-right:8px;
}
